<!-- Begin page content -->
<h1 class="mt-5">About</h1>


<p>
Human Resources application dealing with the people and issues related to people such
as compensation and benefits, recruiting and hiring employees, onboarding employees, 
performance management, training, and organization development and culture.
</p>
git : <a href="https://github.com/tounsils/hr" target="_blank">
https://github.com/tounsils/hr</a>
<h3>Features:</h3>
        <ul >
          <li >Authentification</li>
          <li >Import from csv, sql, mysql, xls, JSON</li>
        </ul>