<!-- views\employees.hbs -->

<!-- Begin page content -->
<div class="row">
<div class="col-md-4">   
<form method="post" id="addEmployeeForm" action="/employees/add">
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" name="name" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputAddress" name="address" placeholder="1234 Main St">
    </div>
  </div>
   <div class="form-group row">
    <label for="inputSalary" class="col-sm-2 col-form-label">Salary</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputSalary" name="salary" placeholder="50000">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="button" id="btnSubmit" class="btn btn-primary">Add Employee</button>
    </div>
  </div>
</form>
</div> 

<div class="col-md-8">
  <table class="table" id="myTableEmployees">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Salary</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>    
  </tbody>
</table>
</div>
</div>

<!-- Modal - Update Employee details -->

<div class="modal " id="update_employee_modal" tabindex="-1" role="dialog" aria-labelledby="update_employee_modal">
<form id="update_employee_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Update</h4>
            </div>
            <div class="modal-body">
 
                <div class="form-group">
                    <label for="update_Name">Name</label>
                    <input type="text" id="update_Name" placeholder="Name" class="form-control" required />
                </div>
 
                <div class="form-group">
                    <label for="update_Address">Address</label>
                    <input type="text" id="update_Address" placeholder="Address" class="form-control"/>
                </div>
 


                <div class="form-group">
                    <label for="update_Salary">Salary</label>
                    <input type="text" id="update_Salary" placeholder="Salary" class="form-control"/>
                </div>
 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnUpdateSubmit" >Save Changes</button>
                <input type="hidden" id="_id">
            </div>
        </div>
    </div>
</form>
</div>