<!-- views\home.hbs -->

<h1 class="mt-5">Help</h1>

<!-- Begin page content -->
<div class="row">
<div class="col-md-4">  
  Human Resources application dealing with the people and issues related to people such as compensation and benefits, recruiting and hiring employees, onboarding employees, performance management, training, and organization development and culture.
 
</div> 

<div class="col-md-8">
  <p>Server started at port <b>6002</b><br>
  Connected to MongoDB database</p>
</div>

    <div class="col-md-8">
    # Testing login
    to create test user, just use the following code in (user route), after created users, please commented out these lines:
    </div>

    <pre>

var user = new User( {
    email: 'any.email',
    password: 'any.password'
} );

user.save();
    </pre>

</div>