<div style="width: 600px; margin: 0px auto;">
    <h2>Login</h2>

    <form method="post">
        <p><input type="text" name="loginemail" placeholder="Email"></p>
        <p><input type="password" name="loginpassword" placeholder="Password"></p>
        <p><input type="submit" id="submitemail" value="Login"></p>
    </form>
</div>

